<h1>Password Generator</h1>
<div>
  <label>Enter length</label>
  <input (input)="onChangeLength($event.target.value)">
</div>

<div>
  <label>Use letters</label>
  <input (change)="onChangeUseLetters()" type="checkbox">
</div>

<div>
  <label>Use numbers</label>
  <input (change)="onChangeUseNumbers()" type="checkbox">
</div>

<div>
  <label>Use symbols</label>
  <input (change)="onChangeUseSymbols()" type="checkbox">
</div>

<div>
   <!-- disable button if length input is 0 or undefined-->
  <button [disabled]="!length" (click)="onButtonClick()">Generate!</button>
</div>

<div>
  <label>your generated password</label>
  <input [value]="getPassword()"/>
</div>


